body {
	font-family: 'Lato', sans-serif;
}

ul.cats-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cats-list > li {
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 30px;
	min-width: 100px;
	background-color: #efefef;
	text-align: center;
	line-height: 30px;
	color: #333;
	cursor: pointer;
}

.cat-display-area {
	margin-top: 30px;
}

.cat-display-area > #image {
	width: 300px;
	height: 300px;
	background-size: cover;
	background-position: center;
	border: 1px solid #333;
	margin: 10px 0;
	cursor: pointer;
}